@model IEnumerable<DagStukkie.Models.TeksVers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeksVersNommer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeksVersTeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeOperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeksVersNommer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeksVersTeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeOperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeksVersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeksVersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeksVersID })
        </td>
    </tr>
}

</table>
