@model IEnumerable<DagStukkie.Models.Master>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateToday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoodskapUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GebedUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GedagteUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkrifUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeksVersUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitelUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateToday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoodskapUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GebedUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GedagteUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkrifUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeksVersUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitelUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMaster }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMaster }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMaster })
        </td>
    </tr>
}

</table>
